p{
  margin: 0px;
}
body{
  margin: 0px;
  position: relative;
}
body{padding-bottom: 1000px;}

.rightside-bar{
  display: flex;
  flex-direction: row;
}
.center-bar{
  display: flex;
}
.leftside-bar{
  display: flex;
}